#single-post {
    
    .edit-link {
        color: #00E676;
        margin-right: 20px;
        &:hover {
            color: #00C853;
        }
    }

    .remove-link {
        color: #FF5252;

        &:hover {
            color: #C62828;
        }
    }  

}
